fastapi==0.100.0
imageio==2.26.0
matplotlib==3.7.0
networkx==2.8.4
pandas==1.5.3
Pillow==10.0.1
plotly==5.9.0
psycopg2-binary==2.9.6
pydantic==1.10.7
pygame==2.4.0
pytest==7.1.2
python-dotenv==1.0.0
pyyaml==6.0
scikit-learn==1.2.1
scipy==1.10.0
tqdm==4.64.1
structlog==23.1.0
